.navbar{
  margin-bottom: 0;
}
p.wrap {
  word-wrap: break-word;
}
.top-icon{
  font-size: 100px;
  color: white;
}
div.relative {
    position: relative;
}
div.absolute {
  position: absolute;
  bottom: 10%;
}
.hero {
  height: 100vh;
  background: linear-gradient(-45deg, rgba(229,93,135,.7), rgba(95,195,228,.7)), url("../asset/img/DSC_0374.JPG") center center / cover no-repeat;
}
.hero h1 {
  color: white;
}
.hero p {
  color: white;
}
.toiawase {
  background-color: #c0392b;
  color: #ecf0f1;
}
.btn-ghost {
  background: transparent;
}
.btn-ghost.btn-default {
  color: #777;
}

.btn-ghost.btn-primary {
  color: #337ab7;
}

.btn-ghost.btn-success {
  color: #5cb85c;
}

.btn-ghost.btn-info {
  color: #5bc0de;
}

.btn-ghost.btn-warning {
  color: #f0ad4e;
}

.btn-ghost.btn-danger {
  color: #d9534f;
}
.btn-ghost.btn-primary:hover,
.btn-ghost.btn-success:hover,
.btn-ghost.btn-info:hover,
.btn-ghost.btn-warning:hover,
.btn-ghost.btn-danger:hover {
  color: #fff;
}
.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-ghost.btn-white:hover {
  color: #333;
  background: #fff;
}
